@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Emprestimos Online</h1>
    <p>Aqui você encontra os melhores livros!</a>.</p>
    <div>
        <img src="/img/livro.jpg"></img>
    </div>
</div>
